# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Results directories
results/
results_sweep_2/
results_cluster_MC_new/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
